h2 {
    color: black;
    text-align: center;
    margin: 0 2% 2% 2%;
    font-size: 2rem;
    padding: 2%;
}

.aboutPage {
    width: 70%;
    border-radius: 15px;
    margin: 10% auto;
    background: silver;
    padding: 5%;
    font-size: 1.2rem;
}

p,
h4 {
    margin: 1%;
    text-align: justify;

}