@import "./nav";
@import "./logo";
@import "./recipesTable";
@import "./recipes";
@import "./about";
@import "./contact";
@import "./footer";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 35, 48);
    font-family: sans-serif;
}